.detailsBody{
    min-width: 1050px;
    background-color : #f9f9f9;
    padding : 20px 0;
}

.mainbody{
    border-radius: 8px;
    min-height : 500px;
    border : 20x solid red;
    width : 790px;
    margin : auto;
    padding : 20px 20px;
    background: #FFFFFF;
}
.mainbody h1{
    font-weight: bold;
}
.mainbody h2{
    font-weight: bold;
    background : #FAFAFA;
    border-left : 5px solid rgb(211, 204, 204);
    line-height: 2;
}
.mainbody img{
    width : 700px;
    margin : 20px;
}
.mainbody p{
    font-size : 16px;
}